[Unit]
Description=SOCKS-via-SSH-via-reverse-proxy to access ERR internals
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/err/socks-proxy
Restart=Always
User=err

[Install]
WantedBy=multi-user.target
