[Unit]
Description=Create access point and route through %I
After=network.target

[Service]
Type=simple
Environment="PATH=/root/bin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin"
ExecStart=/usr/bin/bash /root/bin/wifi-ap "%I"
Restart=always

[Install]
WantedBy=multi-user.target
